.container {
  width: 200px;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 0 2px 0 #5a5a5a;
  background-color: #fdfdfd;
}

.dropdown {
  width: 184px;
}

.content > div {
  border-radius: 8px;
  padding: 8px 12px;
  width: 184px;
  height: 38px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s;
}

.content > div:last-child {
  margin-bottom: 0;
}

.content > div:hover {
  color: #22a0bc;
}
